<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Books</h1>
    <div id="container">
    <table>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Year</th>
            <th>Price</th>
        </tr>

        <tr th:each="book : ${books}">
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.isbn}">ISBN</td>
            <td th:text="${book.year}">Year</td>
            <td th:text="${book.price}">Price</td>
            <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
        </tr>
    </table>
    <a href="/add" class="btn btn-primary">Add Book</a>
    </div>
</body>

</html>