<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Bookstore login</title>
        <style>
            .form_center {
                display: flex;
                justify-content: center;
            }

            .logout {
                display: flex;
                justify-content: center;
            }


            .login_incorrect {
                display: flex;
                justify-content: center;    
            }

        </style>
        
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
        <div class="login_incorrect" th:if="${param.error}">
            Your login credentials may have been incorrect...
        </div>
        <div class="logout" th:if="${param.logout}">
            You've been logged out.
        </div>
        <div class="form_center">
        <div class="form-group">
        <form th:action="@{/login}" method="post">
            <div><label> Username: <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
        </form>
        </div>
        </div>
    </body>
</html>